body {
    font-family: Arial, sans-serif;
    background-color: grey;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}
body::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
  }
h1 {
    color: white;
    margin: 0;
    padding-left: 10px;
}

p {
    color: white;
    line-height: 1.5;
}

ul {
    color: #555;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
/* header*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    transition: top 0.3s ease-in-out;
    background-color: #333333;
    color: #32CD32;

}
/* header 1 */
.logo h1 {
    margin: 0;
    color: #32CD32;
}
/* nav bar */

  
nav ul{
    padding-right: 50px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #32CD32;
    text-decoration: none;
    margin-left: 40px;
    position: relative;

}

nav ul li a::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
nav ul li a:hover {
    color: white;
}
nav ul li a:hover::after {
    transform: scaleX(1);
    color: white;
}

/* each section and the spacing */
section {
    height: 100vh;
    display: flex;

    scroll-snap-align: start;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
}
/* Intro page (1st page) */
#intro{
    background-color: white;
}
#intro .container {
    text-align: left;
    margin-left: 0; 
    color: #32CD32;
    font-size: 24px; 
    white-space: nowrap;
    line-height: 12px;
    margin-top: 27vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
   
}
#intro .container p {
    font-family: 'Georgia', serif;
    font-size: 20px;
    font-weight: 200;
    color: #32CD32;
;
}
#intro .container h2 {
    color: #32CD32;
}


/* Header name nav bar*/
#name-link {
    cursor: pointer;
    padding: 5px 10px;
    text-decoration: none;
    color: #32CD32;
}

#name-link:hover {
    color: white;
}
/* Scroll Hide */
.scroll-hide {
    transform: translateY(-100%);
}
/* About section */
#about {
    background-color: white;
    
    
}
#about .container {
    text-align: center;
    margin-left: 0;
    margin-top: 36px;


}

#about .container h2 {
    color: #32CD32;
    text-align: left;
    margin: 0;
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
}
/* image in about */



.image-grid {
    display: flex;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-left: 70vh;
    height: 40vh; /* Let the height scale proportionally */
    transform: scale(1.1); /* Adjust the scale factor to make it bigger */
}

.image-item {
    text-align: center;
    margin: 0 100px; /* Adjust the margin as needed */
}

.image-item img {
    height: 200px; /* Adjust the height as needed */
}

.image-item p {
    margin-top: 10px;
}
/* about section drop down menu */
.dropdown {
    position: relative;
    text-align: center;
}

.dropbtn {
    padding: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #32CD32;
    font-size: 20px;
    text-align: center;
    font-family: 'Georgia', serif;


}

/* Arrow icon */
.arrow-icon {
    display: inline-block;
    margin-right: 5px;
    transition: transform 0.4s ease;
}

/* Rotate the arrow icon on active state */
.dropbtn.active .arrow-icon {
    transform: rotate(180deg);
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 5px;
    background-color: transparent;
    text-align: left;
    white-space: nowrap;
    line-height: 40px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s linear 0.3s;
}

/* Show the dropdown content when active */
.dropbtn.active + .dropdown-content {
    display: block;
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}

/* Dropdown content list */
.dropdown-content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #32CD32;
    transition: opacity 0.3s ease, visibility 0s linear 0.3s;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
  
  .dropdown-content ul li {
    margin-right: 100px; /* Add margin between bullet points */
    display: flex;
    align-items: center;
    font-family: 'Courier New', monospace;

  }
  
  .dropdown-content ul li::before {
    content: '\2022'; /* Bullet point character */
    margin-right: 10px;
  }
/* Show the dropdown content list when active */
.dropbtn.active + .dropdown-content ul {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.2s;
}
/* Projects */
#projects {
    background-color: white;
    height: 160vh;
}

#projects .container h2 {
    color: #32CD32;
    text-align: left;
    margin: 0;
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin-top: 36px;
}

#projects .container h3 {
    margin-left: 0;
    text-align: left;
    margin-bottom: 0;
    color: #32CD32;
}

#projects .container {
    text-align: center;
    margin-left: 0;
}

.project-section {
    margin-top: 1px;
    margin-left: 20px;
}

.project-item {
    margin-top: 0;
    margin-left: 20px;
}

.project-scroll {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 10px;
    white-space: nowrap;
}

.project-section {
    width: 1400px;
}

.project-item {
    flex: 0 0 auto;
    scroll-snap-align: start;
    text-align: center;
    margin-right: 20px;
}

.project-item img {
    height: 300px;
    width: 600px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    margin: 1em 0;
    filter: brightness(70%);
    transition: filter 0.5s ease-in-out;
    margin-bottom: -5px;
}

.project-item:hover img,
.project-item:hover .project-content {
    filter: brightness(100%);
}

.project-content {
    background-color: white;
    margin-top: -5px;
    color: black;
    border: 2px solid;
    filter: brightness(70%);
    transition: filter 0.5s ease-in-out;
    flex-grow: 1;
}

.project-content ul {
    margin: 0;
    padding-left: 20px;
    list-style-type: circle;
}

.project-item h4 {
    margin-top: 5px;
    font-size: 18px;
    margin-bottom: 5px;
    text-align: left;
    margin-left: 3px;
}

.project-item p {
    color: black;
    margin-top: 5px;
    font-size: 14px;
    border: 2px solid;
    list-style-type: circle;
}

.project-item ul {
    margin: 0;
    padding-left: 20px;
    list-style-type: disc;
    text-align: left;
}

.project-item ul li {
    display: flex;   
    align-items: center;
    font-size: 16px;
    list-style-type: none;
    margin-bottom: 20px;
    line-height: 25px;

}

.project-item ul li:before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #000;
    margin-right: 10px;
    border-radius: 50%;
}

/* Coding section */

.project-section.coding-section .project-scroll .project-item .project-content ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    justify-content: flex-start;
}

.project-section.coding-section .project-scroll .project-item .project-content ul li {
    margin-bottom: 5px;
    margin-right: 30px;
    margin-left: 20px;
    word-break: break-word;
    display: flex;
    align-items: center;
}

.project-section.coding-section .project-scroll .project-item .project-content ul li:before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #000;
    margin-right: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 50%;
}
.project-section.coding-section .project-scroll .project-item .project-content .source-code {
    display: block;
    text-decoration: underline;
    color: inherit;
    font-weight: normal;
    margin-top: 2px;
    text-align: left;
    margin-left: 20px;
}
/* Page seperator */ 
.page-separator {
    border-top: solid black;
   
  }

  /* resume Section */
  #resume {
    background-color: white;
}


#resume .container h2 {
    position: absolute;
    left: 20px;
    color: #32CD32;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
}

#resume .container img {
    width: 500px;
    height: 600px;
    border-top: 20px;
    margin-top: 90px;
    margin-left: 80px;
    align-items: left;
    border: 2px solid black; /* Add border to the image */
    filter: blur(5px); /* Apply initial blur effect */
    transition: filter 0.3s ease-in-out; /* Add transition effect for smooth hover animation */
}

#resume .container img:hover {
    filter: none; /* Remove the blur effect on hover */
}
#resume .image-wrapper {
    position: relative;
    display: inline-block;
  }

  #resume .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    padding: 5px 8px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    margin-left: 20px;
  }
  
  #resume .download-text {
    color: white;
    font-size: 13px;
    font-weight: bold;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
  
  #resume .image-wrapper:hover .resume-image {
    filter: none; /* Remove the blur effect on hover */

  }
  
  #resume .image-wrapper:hover .overlay,
  #resume .image-wrapper:hover .download-text {
    opacity: 0; /* Fade out the overlay and "Download PDF" text on hover */
  }
  /*cover Image */
#resume .container1 img {
    width: 500px;
    height: 600px;
    border-top: 20px;
    margin-right: 60px;
     margin-top: 115px; /* Adjust the margin-top value as needed */
    align-items: left;
    border: 2px solid black; /* Add border to the image */
    filter: blur(5px); /* Apply initial blur effect */
    transition: filter 0.3s ease-in-out; /* Add transition effect for smooth hover animation */
}

#resume .container1 img:hover {
    filter: none; /* Remove the blur effect on hover */
}
#resume .image-wrapper1 {
    position: relative;
    display: inline-block;
  
  }
  #resume .overlay1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    padding: 5px 8px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 19px;
    margin-left: -50px;
  }
  
  #resume .download-text1 {
    color: white;
    font-size: 13px;
    font-weight: bold;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
  
  
  #resume .image-wrapper1:hover .cover-image {
    filter: none; /* Remove the blur effect on hover */

  }
  
  #resume .image-wrapper1:hover .overlay1,
  #resume .image-wrapper1:hover .download-text1 {
    opacity: 0; /* Fade out the overlay and "Download PDF" text on hover */
  }
  #resume .image-wrapper,
#resume .image-wrapper1 {
  display: inline-block;
  vertical-align: middle; /* Add vertical alignment */
}
/* Contact me  */ 

  #contact {
    background-color: white;
    color: #32CD32;
  }
  #contact .container h1 {
    position: absolute;
    left: 20px;
    color: #32CD32;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin-top: 36px;
}
#contact .container h2 {
    margin-top: 200px;
    text-align: center;
}
#contact .contact-info {
    text-align: center;
    margin-top: 20px;
    color: #32CD32;
  }
  
  #contact .contact-info p {
    font-size: 18px;
    margin-bottom: 5px;
    color: #32CD32;
  }
  
  #contact .profile {
    display: inline-block;
    text-align: center;
    color: #32CD32;
  }
  
  #contact .profiles-container::after {
    content: "";
    display: table;
    clear: both;
  }
  .fa-solid{
    color: black;
    font-size: 3rem;
    
  }
  .fa-brands {
    margin-left: 40px;
    color: black;  
    font-size: 3rem;

}
#contact .profile:nth-child(3) {
    margin-right: 50px; /* Adjust the margin as desired */
  }
  
  #contact .profile:nth-child(2) {
    margin-left: 50px; /* Adjust the margin as desired */
  }
